<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Assignment_27_3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>ProductServlet</servlet-name>
  <servlet-class>com.url.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ProductServlet</servlet-name>
  <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>DisplayServlet</servlet-name>
  <servlet-class>com.url.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DisplayServlet</servlet-name>
  <url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
</web-app>