<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>SessionUrlRewriting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
   <servlet>
 	<display-name>LoginServletURL</display-name>
  	<servlet-name>LoginServletURL</servlet-name>
  	<servlet-class>com.url.LoginServletURL</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServletURL</servlet-name>
  	<url-pattern>/LoginServletURL</url-pattern>
  </servlet-mapping>
  
  <servlet>
 	<display-name>WelcomeServletURL</display-name>
  	<servlet-name>WelcomeServletURL</servlet-name>
  	<servlet-class>com.url.WelcomeServletURL</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WelcomeServletURL</servlet-name>
  	<url-pattern>/WelcomeServletURL</url-pattern>
  </servlet-mapping>
</web-app>